<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>THIS SITE WAS CEEATEED B TAI DO. IT USES DATA WAS MAPBOX.</p>
        <img style="width: 250px;" src="/img/luffy pfp.jpg"> <!-- DIRECT path from relative to folder-->
        <h2>THIS IS {{name}}</h2>
    </div>
    {{>footer}}
</body>
</html>